<a href="https://colab.research.google.com/github/glcn35/glcn_python/blob/main/30_11_21_dustin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Question 1
```
Write a function that returns True if every consecutive sequence of ones is followed by a consecutive sequence of zeroes of the same length.

same_length("110011100010") ➞ True

same_length("101010110") ➞ False

same_length("111100001100") ➞ True

same_length("111") ➞ False

In [2]:
num= "110011100010"
while "10" in num or "01" in num:
  num= num.replace("10", "", 1).replace("01", "",1)
  print(num)
if num=="":
  print("True")
else:
  print("False")

11100010
1100
10

True

In [28]:
num="1110001"
one,zero = 0, 0
for i in num:
  if i== "1":
    one +=1
  else:
    zero +=1
  if one == zero:
    one, zero= 0, 0
if one==0 and zero==0:
    print("True")
else:
  print("False")

False

In [32]:
def num_eşit(num):
  one,zero = 0, 0
  for i in num:
      if i== "1":
         one +=1
      else:
         zero +=1
      if one == zero:
         one, zero= 0, 0
  if one==0 and zero==0:
    print("True")
  else:
    print("False")

In [33]:
num_eşit("1111")

False

In [34]:
num_eşit("1110001")

False

In [35]:
num_eşit("1010101110001100")

True

### Question 2
```
Write a function that groups a string into parentheses cluster. Each cluster should be balanced.
split("()()()") ➞ ["()", "()", "()"]

split("((()))") ➞ ["((()))"]

split("((()))(())()()(()())") ➞ ["((()))", "(())", "()", "()", "(()())"]

split("((())())(()(()()))") ➞ ["((())())", "(()(()()))"]

In [13]:
num="((()))(())()()(()())"
left, right = 0, 0
summ= ""
res= []
for i in num:
  if i== "(":
    left +=1
    summ +=i
  else:
    right +=1
    summ +=i
  if left ==right:
    res.append(summ)
    left =0
    right = 0
    summ = ""
print(res)

['((()))', '(())', '()', '()', '(()())']

### Question 3
```
Create a function that returns a list containing the prime factors of whatever integer is passed to it.

prime_factors(20) ➞ [2, 2, 5]

prime_factors(100) ➞ [2, 2, 5, 5]

prime_factors(8912234) ➞ [2, 47, 94811]

In [36]:
num = 100
x=2
res= []
while num >1:
  if num % x ==0:
    num = num //x
    res.append(x)
  else:
    x +=1
print(res)

[2, 2, 5, 5]

In [48]:
def prime_factors(num):
  x=2
  res= []
  while num >1:
    if num % x ==0:
      num = num //x
      res.append(x)
    else:
       x +=1
  return res

In [50]:
prime_factors(8912234)

[2, 47, 94811]


### Question 4
```
Create a function that takes a number num and returns each place value in the number.

num_split(39) ➞ [30, 9]

num_split(-434) ➞ [-400, -30, -4]

num_split(100) ➞ [100, 0, 0]

In [4]:
num = -434
if num < 0:
  negative = True
  num= abs(num) 
else:
  negative= False
num = str(num)
res = []
lenght = len(num) -1

for i in num:
  res.append(i +"0"*lenght)
  lenght -=1

if negative:
  res = [-int(i) for i in res]
else:
   res = [int(i) for i in res]
print(res)

[-400, -30, -4]

### Question 5
```
Create a function that takes an integer n and returns the factorial of factorials. 

See below examples for a better understanding:

fact_of_fact(4) ➞ 288
#4! * 3! * 2! * 1! = 288

fact_of_fact(5) ➞ 34560

fact_of_fact(6) ➞ 24883200
```

In [3]:
n = 5

res = 1

for i in range(2, n + 1):
    num = 1
    for j in range(1, i + 1):
        num *= j
#         print('1',num)
    res *= num
#     print('2',res)
print(res)

34560

### Question 6
```
You are given a list which may contain sublists. Your task is to find the depth of the deepest sublist.

[a] = 1 depth
[[a]] = 2 depth
[[[a]]] = 3 depth, etc
Examples
deepest([1, [2, 3], 4, [5, 6]]) ➞ 2

deepest([[[[[[[[[[1]]]]]]]]]]) ➞ 10

deepest([1, 4, [1, 4, [1, 4, [1, 4, [5]]]]]) ➞ 5

In [ ]:
#lst = [[],[[[[[5]]]]],[[[[[[[6]]]]]]],[[[[[[[[[[[[7]]]]]]]]]]]]]
lst= [1, [2, 3], 4, [5, 6]]
lst=[1, 4, [1, 4, [1, 4, [1, 4, [5]]]]]
lst = str(lst)

count = 0
res = []

for i in lst:
    if i == '[':
        count += 1
        res.append(count)
    elif i == ']':
        count -= 1
        res.append(count)
# print(res)
print(max(res))

### Question 7
```
"Loves me, loves me not" is a traditional game in which a person plucks off all the petals of a flower one by one, saying the phrase "Loves me" and "Loves me not" when determining whether the one that they love, loves them back.

Given a number of petals, return a string which repeats the phrases "Loves me" and "Loves me not" for every alternating petal, and return the last phrase in all caps. Remember to put a comma and space between phrases.

For n = 5: 
Loves me, Loves me not, Loves me, Loves me not, LOVES ME

In [7]:
n = 10
text = "Loves me"
res = ""
for i in range(1, n+1):
  if i %2 ==0:
    a=text + ' not, '
  else:
    a=text +', '
  if i !=n:
    res +=a
  else:
    res += a.upper()
res = res.rstrip(', ')
res

'Loves me, Loves me not, Loves me, Loves me not, Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT'